<div class="externa">
  <div>
    <h1>Mundo Wumpus</h1>
    <div class="container" style="margin-bottom: 10px;">
      <div class="row">
        <button type="button" class="btn btn-primary btn-sm" style="font-size: 8px; width:50px; margin-right: 5px"  (click)="start()">Iniciar</button>
        <button type="button" class="btn btn-secondary btn-sm" style="font-size: 8px; width:100px"  (click)="restart()">Reiniciar ambiente</button>
      </div>
    </div>
    <div class="row">
      <div class="col-6">


        <div class="container" *ngFor="let colums of [].constructor(ambiente.columns); let c = index">
          <div class="row div-lado-a-lado"  *ngFor="let row of [].constructor(ambiente.rows); let r = index">
            <div class="col-12" >
              <div class="celula" style="margin-left: 6px;">
                <div class="container">
                  <div #address class="row">
                    <div class="col-12" style="font-size: 4px;">
                      {{c}},{{r}}
                    </div>
                  </div>
                  <div #address class="row">
                    <div class="col-12"  style="font-size: 8px; ">
                      {{this.ambiente.getByColumnRow(c,r).objeto?.getName }}
                    </div>
                  </div>
                  <div #address class="row">
                    <div class="col-12" style="font-size: 6px; color: red;">
                      {{this.ambiente.getByColumnRow(c,r).getCaracteristica() }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="col-6 logs" #scrollContainer>
        <div class="col-12" >
          <div class="container" style="margin-top: 10px; font-size:10px" *ngFor="let log of logs; let l = index">
            <span>{{l+1}} - Tentativa</span>
            <div class="row" *ngFor="let registro of log; let i = index">
              <div class="col-12">
                {{'( '+registro.row+','+registro.column+' ) - '+ registro.detalhes }}
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
